{
  "presets": [
    "flow",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-object-assign",
    "add-module-exports",
    "syntax-async-functions",
    "transform-runtime",
    "transform-flow-strip-types",
    "transform-export-extensions"
  ],
  "retainLines": true
}